
@{
    ViewData["Title"] = "AddOrUpdate";
    Layout = "~/Views/Shared/_LayoutMiniUI.cshtml";
}
<style>
    .bottom-btn {
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
</style>
<div id="form1" class="mini-fit form-include-remark">
    <input type="hidden" name="ID" class="mini-hidden" />
    <table class="table-sty">
        <tr>
            <td class="editLeftWidth label-item">区域编码：</td>
            <td class="editRightWidth"><input name="Code" class="mini-textbox" required="true" /></td>
        
            <td class="editLeftWidth label-item">区域名称：</td>
            <td class="editRightWidth"><input name="Title" class="mini-textbox" required="true" /></td>
        </tr>
        <tr>
            <td class="editLeftWidth label-item">级别：</td>
            <td class="editRightWidth"><input name="Level" class="mini-textbox" required="true" /></td>
        
            <td class="editLeftWidth label-item">上级ID：</td>
            <td class="editRightWidth"><input name="ParentId" class="mini-textbox" required="true" /></td>
        </tr>
        <tr>
            <td class="editLeftWidth label-item">是否开启三元：</td>
            <td class="editRightWidth"><input name="IsOpenTrilateral" class="mini-textbox" required="true" /></td>
       
            <td class="editLeftWidth label-item">状态：</td>
            <td class="editRightWidth"><input name="IsEnable" class="mini-textbox" required="true" /></td>
        </tr>

        </>
    </table>
</div>
<div class="mini-toolbar bottom-btn">
    <a class="mini-button minibutton-save button-pre-bn" onclick="AreaObj.btnSave()">保存</a>
    <a class="mini-button minibutton-save button-pre-bn" onclick="AreaObj.btnCancel()">取消</a>
</div>
<script type="text/javascript">
    //miniui初始化
    mini.parse();

    //提交、取消、关闭事件
    var AreaObj = {
        //操作类型
        actionType: "",
        //分类控件
        type: mini.get("Type"),
        //是否启用控件
        IsEnable: mini.get("IsEnable"),
        //接收传递过来的数据，初始化
        setData: function (data) {
           
            var form = new mini.Form("#form1");
            AreaObj.actionType = data.action;
            alert(data.action);
            if (data.action == "edit") {
                //跨页面传递的数据对象，克隆后才可以安全使用
                data = mini.clone(data);
                alert("a");
                $.ajax({
                    url: "/SystemManage/Area/GetModel?id=" + data.id,
                    cache: false,
                    success: function (text) {
                        var o = mini.decode(text);
                        form.setData(o);
                        form.setChanged(false);

                        $("#spanStyle").addClass(o.Style);
                        $("#spanStyle").attr("v", o.Style);

                        //编辑时设置编码框为不可编辑
                        //mini.get("Code").allowInput = false;
                    }
                });
            } else {
                if (data.id != "" && data.id != null && data.id != undefined) {
                    mini.getbyName("ParentID").setValue(data.id);
                }

                //设置分类控件默认选项
                //var data = menuAddObj.type.getList();
                //menuAddObj.type.setValue(data[0]);
                //设置是否启用控件默认选项
                menuAddObj.IsEnable.setValue("是");


            }
        },
        //保存数据
        btnSave: function () {
            var form = new mini.Form("#form1");
            form.validate();
            if (form.isValid() == false) return;
            var data = form.getData();      //获取表单多个控件的数据        
            //if (data.IsEnable == "是") { data.IsEnable = true; }
            //if (data.IsShow == "是") { data.IsShow = true; }
            //if (data.IsSuperUser == "是") { data.IsSuperUser = true; }

            data.Style = $("#spanStyle").attr("v");

            //********编辑时验证********//
            if (AreaObj.actionType == "edit") {
                alert("bs");
                $.ajax({
                    url: "/SystemManage/Area/FindOnlyEdit",
                    type: 'post',
                    data: { Code: data.Code, ID: data.ID },
                    cache: false,
                    success: function (text) {
                        if (text) {
                            //验证通过，再执行插入数据
                            $.ajax({
                                url: "/SystemManage/Menu/InsertOrUpdate",
                                type: 'post',
                                data: { model: data },
                                cache: false,
                                success: function (text) {
                                    AreaObj.CloseWindow("save");
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    alert("d");
                                    alert(jqXHR.responseText);
                                    AreaObj.CloseWindow();
                                }
                            });
                        }
                        else {
                            mini.alert("您输入的编码已存在。");
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("e");
                        alert(jqXHR.responseText);
                        AreaObj.CloseWindow();
                    }
                });
            }
            else {
               // alert("a");
                //******新增时验证******//
                //执行保存前，先验证 Code是否唯一
                $.ajax({
                    url: "/SystemManage/Menu/FindOnly",
                    type: 'post',
                    data: { code: data.Code },
                    cache: false,
                    success: function (text) {
                        if (text) {
                            //验证通过，再执行插入数据
                            $.ajax({
                                url: "/SystemManage/Area/InsertOrUpdate",
                                type: 'post',
                                data: { model: data },
                                cache: false,
                                success: function (text) {
                                    AreaObj.CloseWindow("save");
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    alert(jqXHR.responseText);
                                    AreaObj.CloseWindow();
                                }
                            });
                        }
                        else {
                            mini.alert("您输入的编码已存在。");
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(jqXHR.responseText);
                        AreaObj.CloseWindow();
                    }
                });
            }
        },
        //关闭窗口
        CloseWindow: function (action) {
            if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
            else window.close();
        },
        //取消事件
        btnCancel: function (e) {
            AreaObj.CloseWindow("cancel");
        },
        //验证编码唯一
        validataCodeOnly: function () {
            var code = mini.get("Code").getValue();
            $.ajax({
                url: "/SystemManage/Menu/FindOnly",
                type: 'post',
                data: { Code: code },
                cache: false,
                async: false,
                success: function (text) {
                    if (!text) { mini.alert("您输入的编码已存在。"); return; }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    menuAddObj.CloseWindow();
                }
            });
        },
        btnCheckIcom: function () {
            var btnStyle = this;
            hasng.WinOpen({
                url: "/SystemManage/Menu/CheckIcon",
                title: "选择列表",
                width: '50%',
                height: '50%',
                showMaxButton: true,
                onload: function (iframe) {

                },
                ondestroy: function (action, iframe) {

                    var data = iframe.contentWindow.GetData();
                    data = mini.clone(data);    //必须

                    //先删除class
                    var v = $("#spanStyle").attr("v");
                    $("#spanStyle").removeClass(v);
                    //再添加class
                    $("#spanStyle").addClass(data);
                    $("#spanStyle").attr("v", data);
                }
            });
        },
        btnClearIcon: function () {
            var v = $("#spanStyle").attr("v");

            $("#spanStyle").removeClass(v);
            $("#spanStyle").attr("v", "");

        }
    };
</script>

